{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Nieuwe cursus soort</h2>
        <span class="response">{{ response_cursus_soort }}</span>
        {{ form_start(cursusSoortForm, {'attr':{'class': 'form-group'} } ) }}
        {{ form_widget(cursusSoortForm) }}
        {{ form_end(cursusSoortForm) }}

        <table>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Verwijder</th>
            </tr>
            {% for cs in cursusSoorten %}
                <tr class="listItem">
                    <td>{{ cs.naam }}</td>
                    <td>&euro; {{ cs.prijs/100 }}</td>
                    <td><a href="/delete/cursusSoort/{{ cs.id }}" class="fa fa-times delete"></a></td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <br />
        <h2>Nieuwe cursus</h2>
        <span class="response">{{ response_cursus }}</span>
        {{ form_start(cursusForm, {'attr':{'class': 'form-group'} } ) }}
        {{ form_widget(cursusForm) }}
        {{ form_end(cursusForm) }}
        <table>
            <tr>
                <th>Naam</th>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th>Verwijder</th>
            </tr>
            {% for cursus in cursussen %}
                <tr class="listItem">
                    <td>{{ cursus.soortCursus.naam }}</td>
                    <td>{{ cursus.beginDatum|date("d-m-Y") }}</td>
                    <td>{{ cursus.eindDatum|date("d-m-Y") }}</td>
                    <td><a href="/delete/cursus/{{ cursus.id }}" class="fa fa-times delete"></a></td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <br />
        <br />
        <div class="alle_aanmeldingen">
            <div class="aanmeldingen_title">aanmeldingen</div>
            {% for cursus in cursussen %}
                <h3>{{ cursus.soortCursus.naam }} <span class="aanmeldingen">{{ cursus.cursisten|length }}</span></h3>
                <div class="users">
                    {% for user in cursus.cursisten %}
                        {{ user.voornaam }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
