{% extends 'base.html.twig' %}

{% if edit is defined %}
    {% set page_name = "Wijzig" %}
    {% set back_url = "/cursist" %}
{% else %}
    {% set page_name = "Registreer" %}
    {#{% set back_url = "javascript:window.history.back();" %}#}
    {% set back_url = "/" %}
{% endif %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/register.css') }}" />
{% endblock %}

{% block body %}
<div class="register">
    <a class="back" href="{{ back_url }}">back</a>
    <div class="heading">
        <h2>{{ page_name }}</h2>
        <div class="response">{{ response }}</div>
    </div>
        {{ form_start(form, {'attr':{'class': 'form-group'} } ) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {#input-group input-group-lg#}
</div>
{% endblock %}
